@model Neat_Burguer.Models.ViewModels.MenuViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<section class="menu3">
    <div>
        <h1>NUESTRO MENÚ</h1>
        @foreach (var clasificacion in Model.Clasificaciones)
        {
            <h3>@clasificacion.Nombre</h3>
            @foreach (var hamburguesa in clasificacion.Hamburguesas)
            {
                <h2 @(hamburguesa.Seleccionado == true ? "class=seleccionado" : string.Empty)>
                    <a href="~/menu/@(hamburguesa.Nombre.ToLower().Replace(" ", "-"))">
                        <span>@hamburguesa.Nombre</span>
                        <span class="price">@hamburguesa.Precio.ToString("c")</span>
                    </a>
                </h2>
            }
        }
    </div>
    <div>
        <img src="~/hamburguesas/@(Model.Id).png" asp-append-version />
        <p> </p>
    </div>
</section>
