@model Neat_Burguer.Models.ViewModels.PromocionesViewModel
@{
    Layout = "_Layout";

}

<section class="menu1">
    @if (Model.PrecioPromocion > 0)
    {
        <img src="~/hamburguesas/@(Model.Id).png" />
        <div class="datos">
            <h3>
                <del>@Model.Precio.ToString("c")</del>
                <b>@Model.PrecioPromocion.ToString("c")</b>
            </h3>
            <h2>@Model.Nombre</h2>
            <p>@Model.Descripcion</p>
        </div>
        <span>
            @if (Model.INDX > 0)
            {
                <a href="~/Home/Promociones/@(Model.INDX-1)">&lt;</a>
            }
            @if (Model.INDX < Model.INDF - 1)
            {
                <a href="~/Home/Promociones/@(Model.INDX+1)">&gt;</a>
            }
        </span>
    }
    else
    {
        <h1>No hay, No Existe</h1>
    }
</section>