﻿<html>
<head>
    <link lang="es" />
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Administrador Neat Burguer</title>
</head>
<body>
    <header>
        <nav>
            <a asp-area="admin" asp-controller="home" asp-action="index">Principal</a>
            <a asp-area="admin" asp-controller="home" asp-action="menu">Modificar menú</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>